# Dependencies
node_modules/
package-lock.json

# Build & Temporary Files
scratch/
*.tmp
*.temp
*.bak
*.swp
*.zip

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
[Dd]esktop.ini

# IDE & Editor Configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Agent & Local AI Configurations
.agents/
.gemini/
